<!-- counter  -->
<style>
	.counterIndicator .countervalue {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01336d+0,261e6f+47,831a6d+100 */
		background: #01336d; /* Old browsers */
		background: -moz-linear-gradient(left, #01336d 0%, #261e6f 47%, #831a6d 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #01336d 0%,#261e6f 47%,#831a6d 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #01336d 0%,#261e6f 47%,#831a6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01336d', endColorstr='#831a6d',GradientType=1 ); /* IE6-9 */
	}


</style>
<div class="container-fluid" style="background-color: #FFF;">
	<div class="" style="height: 10px; padding:0px; float: none; margin: 0 auto; ">
		<div class="counterIndicator" style="padding:0px;background-color:#dbdbdb;float: none; margin: 0 auto;">
			<div class="countervalue" style="background-color: #133797; height:8px;border-right: 3px solid #FFF;">&nbsp;</div>
		</div>
	</div>
</div>
<!-- /counter  -->
