<div class="oldies-main-overlay"></div>
<div class="oldies-overlay">
    <div class="oldies">
        <h3>Did you know that your Internet Browser is out of date?</h3>
        <p>Your browser is out of date, and may not be compatible with our website. A list of the most popular web browsers can be found below.</p>
        <p>Please <a href="javascript: location.reload();">refresh this page</a> after you have successfully installed any of these recommended browsers.</p>
        <ul>
            <li>
                <a href="http://www.google.com.sg/chrome/" target="_blank">
                    <img src="./images/browsers/browser_chrome.gif" alt="Google Chrome"><br>
                    <span class="oldies-title">Google Chrome</span>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">
                    <img src="./images/browsers/browser_firefox.gif" alt="Mozilla Firefox"><br>
                    <span class="oldies-title">Firefox</span>
                </a>
            </li>
            <li>
                <a href="http://support.apple.com/kb/DL1531?viewlocale=en_US&locale=en_US" target="_blank">
                    <img src="./images/browsers/browser_safari.gif" alt="Safari"><br>
                    <span class="oldies-title">Safari</span>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie" target="_blank">
                    <img src="./images/browsers/browser_msie.gif" alt="Internet Explorer"><br>
                    <span class="oldies-title">Internet Explorer</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>